AddDefaultCharset utf-8
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# One month for image files
<FilesMatch ".(jpg|jpeg|png|gif|ico|svg)$">
   Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# One day for css and js
<FilesMatch ".(css|js)$">
   Header set Cache-Control "max-age=-1, public"
</FilesMatch>

<FilesMatch "index.php">
	H2PushResource /style/global.css
	H2PushResource /style/error.css
	H2PushResource /script/index.js
	H2PushResource /manifest.json
</FilesMatch>