#dashboard {
    display: flex;
    > * {
        display: inline-block;
        vertical-align: top;
    }
    > menu {
        @media (min-width: 680px){
            min-height: calc(100vh - 80px);
        }
        background-color: var(--color-theme-primary-light);
        color: #FFF;
        margin: 0;
        padding: 10px;
        width: 250px;
        transition: width .2s;
        &.collapsed {
            width: 70px;
            color: var(--color-theme-primary-light);
        }
        a {
            border-radius: 5px;
            color: inherit;
            display: block;
            margin-top: 10px;
            padding: 10px;
            overflow: hidden;
            white-space: nowrap;
            transition: background-color .2s;

            &:hover {
                background-color: var(--color-theme-primary);
                text-decoration: none;
            }
            .material-icons {
                color: #FFF;
                font-size: 30px;
                margin-right: 10px;
                vertical-align: -10px;
            }
        }

        button#dashboard-menu-collapse {
            background-color: transparent;
            border: unset;
            border-radius: 5px;
            color: #FFF;
            cursor: pointer;
            float: right;
            font-size: 30px;
            padding: 10px;
            &:hover {
                background-color: var(--color-theme-primary);
            }
        }
    }
    > content {
        display: block;
        padding: 20px;
        width: calc(100% - 250px);
    }
}