#error {
    width: 60%;
    margin: 0px auto;
    padding: 50px;
    font-family: Montserrat;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    max-width: 560px;

    > #error-title {
        font-family: Roboto;
        font-size: 50px;
        letter-spacing: -3px;
        line-height: 1.15;
    }

    > #error-subtitle {
        font-size: 18px;
        text-align: center;
    }
}