#login {
    display: flex;
    align-items: center;
    @media (max-width: 679px){
        flex-direction: column;
    }

    > section {
        @media (min-width: 680px){
            min-height: calc(100vh - 136px);
        }
        min-width: 340px;
        padding: 20px;
        width: 100%;

        &:first-child{
            background: rgb(121,121,208);
            background: linear-gradient(180deg, rgba(121,121,208,1) 0%, rgba(55,55,116,1) 100%);
            flex-direction: column;

            > img {
                border-radius: 25px;
            }
            > span {
                color: #FFF;
                font-size: 16px;
                margin-top: 20px;
                text-align: center;
                width: 300px;
            }
        }

        &:last-child {
            background-color: var(--color-background-alternative);
        }

        h2 {
            margin-bottom: 20px;
        }

        form {
            width: 250px;
            > input {
                display: block;
                width: 100%;
                background-color: var(--color-background-secondary);
                border: 1px solid var(--color-input-border);
                border-radius: 5px;
                padding: 10px;
                transition: border-color .2s;
                &:hover, &:focus {
                    border-color: var(--color-theme-primary);
                }
                &[type="submit"] {
                    border-color: var(--color-theme-primary);
                    background-color: var(--color-theme-primary-light);
                    color: white;
                    transition: background-color .2s;
                    &:hover, &:active, &:focus {
                        background-color: var(--color-theme-primary);
                    }
                }
            }
            > p {
                margin-top: 0px;
                font-size: 16px;
                text-align: justify;
            }
            > .image {
                display: block;
                text-align: center;
                font-size: 150px;
            }
            > span {
                font-size: 13px;
            }
        }
    }
}