@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
		format('woff2');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
* {
	box-sizing: border-box;
	font-family: 'Open Sans';
}
:root {
	--color-error: hsl(0, 66%, 47%);
	--color-error-bg: hsl(0, 66%, 67%);
	--color-info: hsl(219, 83%, 59%);
	--color-info-bg: hsl(219, 83%, 79%);
	--color-warning: hsl(48, 100%, 50%);
	--color-warning-bg: hsl(48, 89%, 70%);
	--color-success: hsl(96, 40%, 30%);
	--color-success-bg: hsl(96, 40%, 50%);
	--color-background-primary: #fff;
	--color-background-secondary: #e8e8e8;
	--color-foreground-primary: #333;
	--color-foreground-secondary: #222;
	--color-foreground-light: #666;
	--color-border-primary: #ddd;
	--color-theme-primary: #5959b0;
	--color-theme-primary-light: #7979d0;
	--color-theme-secondary: #2c282c;
	--color-input-border: #4a474a;
	--color-background-alternative: #e8e8e8;

	@media (prefers-color-scheme: dark) {
		--color-background-primary: #333;
		--color-background-secondary: #222;
		--color-foreground-primary: #ddd;
		--color-foreground-secondary: #aaa;
		--color-border-primary: #888;
		--color-theme-secondary: #2c282c;
		--color-input-border: #4a474a;
		--color-theme-primary: #7979d0;
		--color-theme-primary-light: #5959b0;
		--color-background-alternative: #383838;
	}
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--color-theme-primary);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-theme-primary);
	cursor: pointer;
}
body {
	color: var(--color-foreground-primary);
	background-color: var(--color-background-secondary);
	margin: 0px;
}
a {
	color: var(--color-theme-primary);
	text-decoration: none;
	&:visited {
		color: var(--color-theme-primary);
	}
	&:hover {
		text-decoration: underline;
	}
}
.image-wrapper {
	overflow: hidden;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;

	&.big {
		width: 150px;
		height: 150px;
	}
	&:hover > img {
		transform: scale(1.2);
	}
	> img {
		width: 100%;
		height: 100%;
		transition: transform 0.4s;
	}
}
main {
	min-height: calc(100vh - 136px);
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Oswald;
		margin: 0;
	}

	.card {
		background-color: var(--color-background-primary);
		color: var(--color-foreground-primary);
		border: 1px solid var(--color-border-primary);
		border-radius: 5px;
		&.colored-border {
			border-color: var(--color-theme-primary);
		}
	}
}
input,
textarea,
select {
	background-color: var(--color-background-secondary);
	border: 1px solid var(--color-input-border);
	border-radius: 5px;
	padding: 5px;
	color: var(--color-theme-primary);
	vertical-align: middle;
	outline: none;
	margin-bottom: 10px;
	font-size: 14px;
}
select {
	padding: 4px 5px;
	cursor: pointer;
}
input {
	&[type='text'] {
		outline: none;
	}
	&[type='submit'] {
		color: var(--color-foreground-primary);
		background-color: var(--color-background-secondary);
		cursor: pointer;

		&:hover {
			transition: background-color 0.2s;
			color: var(--color-theme-primary);
			background-color: var(--color-background-secondary);
		}
	}
	&[name='sub_code'] {
		width: 234px;
	}
}
::selection {
	background-color: hsla(0, 0%, 0%, 0.3);
	padding: 10px;
	border-radius: 10px;
}
.content {
	width: 1200px;
	margin-left: calc(50% - 600px);
}
.h100p {
	height: calc(100vh - 137px);
}
.center {
	text-align: center;
}
.center-h {
	display: flex;
	justify-content: center;
}
.center-v {
	display: flex;
	align-items: center;
}
.right {
	float: right;
}
.text-thin {
	font-weight: lighter;
}
.clear {
	clear: both;
}
.info {
	color: var(--color-info) !important;
}
.info-bg {
	background-color: var(--color-info-bg);
}
.success {
	color: var(--color-success) !important;
}
.success-bg {
	background-color: var(--color-success-bg);
}
.warning {
	color: var(--color-warning) !important;
}
.warning-bg {
	background-color: var(--color-warning-bg);
}
.error {
	color: var(--color-error) !important;
}
.error-bg {
	background-color: var(--color-error-bg);
}
code {
	color: white;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	font-family: monospace;
	margin: 5px;

	&.inline {
		display: inline-block;
	}
}
blockquote {
	margin: 0px;
	border-left: 5px solid var(--color-theme-primary);
	background-color: var(--color-background-secondary);
	padding: 5px 5px 5px 10px;
}
@media (max-width: 1216px) {
	.content {
		width: 1000px;
		margin-left: calc(50% - 500px);
	}
}
@media (max-width: 1016px) {
	.content {
		width: calc(100% - 20px);
		margin-left: 10px;
	}
}
@media (max-width: 700px) {
	header .content menu a {
		padding: 5px 5px;
	}
}
@media (max-width: 560px) {
	header menu a span.logout {
		display: none;
	}
}
